@page "/Studentabsence"

<h3 class="text-center text-info py-2">Student Absences OverView</h3>
<!-- Search -->
<div class="row text-center">
    <div class="col-md-5">
        <div class="row">
            <p class="col-md-5 h4">School Years Id</p>
            <label class="col-md-7">
                <select @bind="SchoolYearId" class="form-select text-center">
                    @foreach (var item in SchoolYears)
                    {
                        <option value="@item.Id">@item.SchoolYear</option>
                    }
                </select>
            </label>
        </div>
    </div>
    <div class="col-md-5">
        <div class="row">
            <p class="col-md-5 h4">Class Rooms Id</p>
            <label class="col-md-7">
                <select @bind="ClassRoomId" class="form-select text-center">
                    @foreach (var item in ClassRooms)
                    {
                        <option value="@item.ClassRoomNumber">@item.ClassRoomNumber</option>
                    }
                </select>
            </label>
        </div>
    </div>
    <div class="col-md-2 text-center">
        <button class="btn btn-outline-primary btn-lg px-5" @onclick="Search">Search</button>
    </div>
</div>

@if (Students is not null)
{
    <!-- Table -->
    <h3 class="text-center text-success text-capitalize py-2">Students in Class Room @ClassRoomId</h3>
        <table id="example" class="my-3 table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th class="h4 text-center"> Student Name </th>
                    <th class="h4 text-center"> Class Room </th>
                    <th class="h4 text-center"> School Years </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var Student in Students)
                {
                    <tr>

                        <td class="h5 text-center">@Student.FirstName @Student.LastName</td>
                        <td class="h5 text-center">@Student.ClassRoom.ClassRoomNumber</td>
                        <td class="h5 text-center">@Student.SchoolYears.SchoolYear</td>

                        <td class="h5 text-center">
                            <button @onclick="@(async () => await HandleValidSubmitAdding(Student.StudenntSSN))" class="btn btn-primary"><i class="fa fa-plus-square"></i></button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
}

@if (AllStudentabsence is not null)
{
    <!-- Table -->
    <h3 class="text-center text-danger text-capitalize py-2">Studentabsences Today In Class Room @ClassRoomId </h3>
        <table id="example" class="my-3 table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th class="h4 text-center"> Student Name </th>
                    <th class="h4 text-center"> Class Room </th>
                    <th class="h4 text-center"> School Years </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var StudentabsenceDto in AllStudentabsence)
                {
                    <tr>
                        <td class="h5 text-center">@StudentabsenceDto.Student.FirstName @StudentabsenceDto.Student.LastName</td>
                        <td class="h5 text-center">@StudentabsenceDto.Student.ClassRoom.ClassRoomNumber</td>
                        <td class="h5 text-center">@StudentabsenceDto.Student.SchoolYears.SchoolYear</td>
                        <td class="h5 text-center">
                            <button @onclick="@(async () => await DeleteStudentabsence(StudentabsenceDto.Id))" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                 }

            </tbody>
        </table>
}
else
{
    <h3 class="text-center">Please Wait Until StudentAbsence Ready</h3>
}

