@page "/Department"


<style>
    .pagination a {
        color: black;
        float: left;
        padding: 8px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
        font-size: 22px;
    }
</style>

<h3 class="text-center text-info py-2">Departments OverView</h3>

@if (AllDepartment is not null)
{
    <!-- Search -->

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="row dataTables_length" id="Departmentple_length">
                <p class="h5 col-md-2"> Show</p>
                <label class="h5 col-md-4">
                    <select name="Departmentple_length" aria-controls="Departmentple" class="form-select form-select-sm">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </label>
                <p class="h5 col-md-2">entries</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div id="Departmentple_filter" class="dataTables_filter row">
                <p class="h5 col-md-2">Search : </p>
                <label class="col-md-5">
                    <input type="search" class="form-control form-control-sm" placeholder="Search for Department" aria-controls="Departmentple">
                </label>
            </div>
        </div>
    </div>

    <!-- Table -->
    <table id="Departmentple" class="my-3 table table-striped" style="width:100%">
        <thead>
            <tr>
                @*<th class="h5 text-center"> Department Id </th>*@
                <th class="h4 text-center"> Department Name </th>
                <th class="h4 text-center"> Department Building </th>
                <th class="h4 text-center"> Department Location </th>
                <th class="h4 text-center">
                    <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#Add"><i class="fa fa-plus-square"></i></button>
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var DepartmentDto in AllDepartment)
            {
            <tr>

                @*<td class="h5 text-center">@DepartmentDto.DepartmentId</td>*@
                <td class="h5 text-center">@DepartmentDto.DepartmentName</td>
                <td class="h5 text-center">@DepartmentDto.Departmentbuilding</td>
                <td class="h5 text-center">@DepartmentDto.DepartmentLocation</td>

                <td class="h5 text-center">
                    <button @onclick="@(async () => await Modify(DepartmentDto.DepartmentId))" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Edit"><i class="fa fa-pencil-square"></i></button>
                    <button @onclick="@(async () => await DeleteDepartment(DepartmentDto.DepartmentId))" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#Delete"><i class="fa fa-trash"></i></button>
                </td>

            </tr>
            }
        </tbody>
    </table>

    <!-- pagination -->
    <div class="py-3 d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    //ADD Department
    <div class="modal fade" id="Add" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Add New Department</h3>
                    <button type="button" data-bs-dismiss="modal" class="close" @onclick="@closeModal">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body">
                    <EditForm Model="@CurrenDepartment" OnValidSubmit="@HandleValidSubmitAdding">
                        <DataAnnotationsValidator />
                        <hr />
                        <div class="row">
                            @*<div class="form-group row">
            <label for="DepartmentId" class="col-sm-2 col-form-label">
                Department Id
            </label>
            <div class="col-sm-10">
                <InputNumber id="DepartmentId" class="form-control" placeholder="Department Id"
                             @bind-Value="CurrenDepartment.Id" />

                <div class="col-sm-8 text-danger">
                    <ValidationMessage For="@(() => CurrenDepartment.Id)" />
                </div>
            </div>
        </div>*@
                            <div class="form-group row">
                                <label for="DepartmentName" class="col-sm-4 col-form-label">
                                    Department Name
                                </label>
                                <div class="col-sm-8">
                                    <InputText id="DepartmentName" class="form-control" placeholder="Department Name"
                                               @bind-Value="CurrenDepartment.DepartmentName" />
                                    <div class="col-sm-12 text-danger">
                                        <ValidationMessage For="() => CurrenDepartment.DepartmentName" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="DepartmentBuilding" class="col-sm-4 col-form-label">
                                    Department Building
                                </label>
                                <div class="col-sm-8">
                                    <InputText id="DepartmentBuilding" class="form-control" placeholder="Department Building"
                                               @bind-Value="CurrenDepartment.Departmentbuilding" />
                                    <div class="col-sm-12 text-danger">
                                        <ValidationMessage For="() => CurrenDepartment.Departmentbuilding" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="DepartmentLocation" class="col-sm-4 col-form-label">
                                    Department Location
                                </label>
                                <div class="col-sm-8">
                                    <InputText id="DepartmentLocation" class="form-control" placeholder="Department Location"
                                               @bind-Value="CurrenDepartment.DepartmentLocation" />
                                    <div class="col-sm-12 text-danger">
                                        <ValidationMessage For="() => CurrenDepartment.DepartmentLocation" />
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-block btn-success" data-bs-dismiss="modal">Adding</button>
                        </div>
                    </EditForm>
                </div>

            </div>
        </div>
    </div>

    //Update Department
    <div class="modal fade" id="Edit" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Edit @CurrenDepartment.DepartmentName </h3>
                    <button type="button" class="close" data-bs-dismiss="modal" @onclick="@closeModal">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body">
                    <EditForm Model="@CurrenDepartment" OnValidSubmit="@HandleValidSubmitUpdate">
                        <DataAnnotationsValidator />
                        <hr />
                        <div class="row">
                            @*<div class="form-group row">
            <label for="DepartmentId" class="col-sm-2 col-form-label">
                Department Id
            </label>
            <div class="col-sm-10">
                <InputNumber id="DepartmentId" class="form-control" placeholder="Department Id"
                             @bind-Value="CurrenDepartment.Id" />
                <div class="col-sm-8 text-danger">

                    <ValidationMessage For="() => CurrenDepartment.Id" />

                </div>
            </div>
        </div>*@
                            <div class="form-group row">
                                <label for="DepartmentName" class="col-sm-4 col-form-label">
                                    Department Name
                                </label>
                                <div class="col-sm-8">
                                    <InputText id="DepartmentName" class="form-control" placeholder="Department Name"
                                               @bind-Value="CurrenDepartment.DepartmentName" />
                                    <div class="col-sm-12 text-danger">

                                        <ValidationMessage For="() => CurrenDepartment.DepartmentName" />

                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="DepartmentBuilding" class="col-sm-4 col-form-label">
                                    Department Building
                                </label>
                                <div class="col-sm-8">
                                    <InputText id="DepartmentBuilding" class="form-control" placeholder="Department Building"
                                               @bind-Value="CurrenDepartment.Departmentbuilding" />
                                    <div class="col-sm-12 text-danger">
                                        <ValidationMessage For="() => CurrenDepartment.Departmentbuilding" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="DepartmentLocation" class="col-sm-4 col-form-label">
                                    Department Location
                                </label>
                                <div class="col-sm-8">
                                    <InputText id="DepartmentLocation" class="form-control" placeholder="Department Location"
                                               @bind-Value="CurrenDepartment.DepartmentLocation" />
                                    <div class="col-sm-12 text-danger">
                                        <ValidationMessage For="() => CurrenDepartment.DepartmentLocation" />
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="modal-footer">
                            <button type="submit" class="btn btn-block btn-success" data-bs-dismiss="modal">Save</button>
                        </div>
                    </EditForm>
                </div>

            </div>
        </div>
    </div>

    //Delete Department
    <div class="modal fade" id="Delete" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Delete Department</h3>
                </div>
                <div class="modal-body">
                    <h4>Do you want to delete this Department ??</h4>
                    <table class="table">
                        @*<tr>
            <td>Department Id</td>
            <td>@CurrenDepartment.DepartmentId</td>
        </tr>*@
                        <tr>
                            <td>Department Name</td>
                            <td>@CurrenDepartment.DepartmentName</td>
                        </tr>
                        <tr>
                            <td>Department Building</td>
                            <td>@CurrenDepartment.Departmentbuilding</td>
                        </tr>
                        <tr>
                            <td>Department Location</td>
                            <td>@CurrenDepartment.DepartmentLocation</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" @onclick="@(async () => await HandleValidDeleteDepartment(CurrenDepartment.DepartmentId))" data-bs-dismiss="modal">YES</button>
                    <button class="btn btn-warning" @onclick="@closeModal" data-bs-dismiss="modal">NO</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <p>Please Waiting</p>
}
