@page "/Teacherabsence"

<style>
    .my-custom-scrollbar {
        position: relative;
        height: 200px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }
</style>
<h3 class="text-center text-info py-2">Teacherabsences OverView</h3>

@if (Teachers is not null)
{
    <div class="row text-center m-auto">
        
        <div class="col-sm-12 col-md-6">
            <div id="example_filter" class="dataTables_filter row">
                <p class="h5 col-md-2">Search : </p>
                <label class="col-md-5">
                    <input type="search"@bind-value="TeacherName" class="form-control form-control-sm" placeholder="Search for Teacher" aria-controls="example">
                    <input type="button" value="Search" class="btn-dark" @onclick="@(async () =>await Search())" />
                </label>
            </div>
        </div>
    </div>
    <!-- Table -->
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table id="example" class="my-3 table-bordered table table-striped">
            <thead>
                <tr>
                    <th class="h5 text-center"> Teacherabsence Name </th>
                    <th class="h5 text-center"> Teacherabsence Date </th>
                    <th class="h4 text-center"> Teacher Phone </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var Teacher in Teachers)
                {
                    <tr>

                        <td class="h5 text-center">@Teacher.FirstName @Teacher.LastName</td>
                        <td class="h5 text-center">@Teacher.DB.ToString("dd/MM/yyyy")</td>
                        <td class="h5 text-center">@Teacher.Phone</td>

                        <td class="h5 text-center">
                            <button type="submit" @onclick="@(async () =>await HandleValidSubmitAdding(Teacher.TeacherSSN))" class="btn btn-secondary"><i class="fa fa-plus-square"></i></button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

    //ADD Teacherabsence
    <div class="modal" id="Add" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Add New Teacherabsence</h3>
                    <button type="button" data-bs-dismiss="modal" class="close">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body">
                    <EditForm Model="@CurrenTeacherabsence">
                        <DataAnnotationsValidator />
                        <hr />
                        <div class="row">
                            <div class="form-group row">
                                <label for="TeacherabsenceType" class="col-sm-5 col-form-label">
                                    Teacher Absence Date
                                </label>
                                <div class="col-sm-7">
                                    <InputDate id="TeacherabsenceType" class="form-control" placeholder="Teacher Absence Date"
                                               @bind-Value="CurrenTeacherabsence.Date" />
                                    <div class="col-sm-8 text-danger">
                                        <ValidationMessage For="() => CurrenTeacherabsence.Date" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    Teacher
                                </label>
                                <div class="col-sm-10">
                                    <InputSelect class="form-control" @bind-Value="@CurrenTeacherabsence.TeacherSSN">
                                        <option value="0">-- Select Teacher --</option>
                                        @foreach (var Teacher in Teachers)
                                            {
                                            <option value="@Teacher.TeacherSSN">@Teacher.FirstName @Teacher.LastName </option>
                                            }

                                    </InputSelect>
                                    <div class="col-sm-8 text-danger">
                                        <ValidationMessage For="@(() => CurrenTeacherabsence.TeacherSSN)" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-block btn-success" data-bs-dismiss="modal">Adding</button>
                        </div>
                    </EditForm>
                </div>

            </div>
        </div>
    </div>

}
@if (AllTeacherabsence is not null)
{
    <!-- Table -->
    <table id="example" class="my-3 table table-striped" style="width:100%">
        <thead>
            <tr>
                <th class="h5 text-center"> Teacherabsence Name </th>
                <th class="h5 text-center"> Teacherabsence Date </th>
                <th class="h4 text-center"> Teacher Phone </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var TeacherabsenceDto in AllTeacherabsence)
            {
                <tr>

                    <td class="h5 text-center">@TeacherabsenceDto.Teacher.FirstName @TeacherabsenceDto.Teacher.LastName</td>
                    <td class="h5 text-center">@TeacherabsenceDto.Date.ToString("dd/MM/yyyy")</td>
                    <td class="h5 text-center">@TeacherabsenceDto.Teacher.Phone</td>

                    <td class="h5 text-center">
                        <button @onclick="@(async () => await DeleteTeacherabsence(TeacherabsenceDto.Id))" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Please Waiting</p>
}
