@page "/ExamAnswer"


<style>
    .pagination a {
        color: black;
        float: left;
        padding: 8px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
        font-size: 22px;
    }
</style>

<h3 class="text-center text-info py-2">ExamAnswers OverView</h3>

@if (AllExamAnswer is not null)
{
    <!-- Search -->

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="row dataTables_length" id="example_length">
                <p class="h5 col-md-2"> Show</p>
                <label class="h5 col-md-4">
                    <select name="example_length" aria-controls="example" class="form-select form-select-sm">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </label>
                <p class="h5 col-md-2">entries</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div id="example_filter" class="dataTables_filter row">
                <p class="h5 col-md-2">Search : </p>
                <label class="col-md-5">
                    <input type="search" class="form-control form-control-sm" placeholder="Search for ExamAnswer" aria-controls="example">
                </label>
            </div>
        </div>
    </div>

    <!-- Table -->
    <table id="example" class="my-3 table table-striped" style="width:100%">
        <thead>
            <tr>
                @*<th class="h5 text-center"> ExamAnswer Id </th>*@
                <th class="h4 text-center"> Exam Answer Type </th>
                <th class="h4 text-center">
                    <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#Add"><i class="fa fa-plus-square"></i></button>
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var ExamAnswerDto in AllExamAnswer)
            {
                <tr>

                    @*<td class="h5 text-center">@ExamAnswerDto.Id</td>*@
                    <td class="h5 text-center">@ExamAnswerDto.ExamAnswerType</td>

                    <td class="h5 text-center">
                        <button @onclick="@(async () => await Modify(ExamAnswerDto.Id))" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Edit"><i class="fa fa-pencil-square"></i></button>
                        <button @onclick="@(async () => await DeleteExamAnswer(ExamAnswerDto.Id))" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#Delete"><i class="fa fa-trash"></i></button>
                    </td>

                </tr>
            }
        </tbody>
    </table>

    <!-- pagination -->
    <div class="py-3 d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    //ADD ExamAnswer
    <div class="modal fade" id="Add" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Add New ExamAnswer</h3>
                    <button type="button" data-bs-dismiss="modal" class="close" @onclick="@closeModal">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body">
                    <EditForm Model="@CurrenExamAnswer" OnValidSubmit="@HandleValidSubmitAdding">
                        <DataAnnotationsValidator />
                        <hr />
                        <div class="row">
                            @*<div class="form-group row">
                                    <label for="ExamAnswerId" class="col-sm-2 col-form-label">
                                        ExamAnswer Id
                                    </label>
                                    <div class="col-sm-10">
                                        <InputNumber id="ExamAnswerId" class="form-control" placeholder="ExamAnswer Id"
                                                     @bind-Value="CurrenExamAnswer.Id" />

                                        <div class="col-sm-8 text-danger">
                                            <ValidationMessage For="@(() => CurrenExamAnswer.Id)" />
                                        </div>
                                    </div>
                                </div>*@
                            <div class="form-group row">
                                <label for="ExamAnswerType" class="col-sm-4 col-form-label">
                                    Exam Answer Type
                                </label>
                                <div class="col-sm-8">
                                    <InputText id="ExamAnswerType" class="form-control" placeholder="Exam Answer Type"
                                               @bind-Value="CurrenExamAnswer.ExamAnswerType" />
                                    <div class="col-sm-12 text-danger">
                                        <ValidationMessage For="() => CurrenExamAnswer.ExamAnswerType" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-block btn-success" data-bs-dismiss="modal">Adding</button>
                        </div>
                    </EditForm>
                </div>

            </div>
        </div>
    </div>

    //Update ExamAnswer
    <div class="modal fade" id="Edit" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Edit @CurrenExamAnswer.ExamAnswerType </h3>
                    <button type="button" class="close" data-bs-dismiss="modal" @onclick="@closeModal">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body">
                    <EditForm Model="@CurrenExamAnswer" OnValidSubmit="@HandleValidSubmitUpdate">
                        <DataAnnotationsValidator />
                        <hr />
                        <div class="row">
                            @*<div class="form-group row">
                                    <label for="ExamAnswerId" class="col-sm-4 col-form-label">
                                        ExamAnswer Id
                                    </label>
                                    <div class="col-sm-8">
                                        <InputNumber id="ExamAnswerId" class="form-control" placeholder="ExamAnswer Id"
                                                     @bind-Value="CurrenExamAnswer.Id" />
                                        <div class="col-sm-8 text-danger">

                                            <ValidationMessage For="() => CurrenExamAnswer.Id" />

                                        </div>
                                    </div>
                                </div>*@
                            <div class="form-group row">
                                <label for="ExamAnswerType" class="col-sm-4 col-form-label">
                                    Exam Answer Type
                                </label>
                                <div class="col-sm-8">
                                    <InputText id="ExamAnswerType" class="form-control" placeholder="Exam Answer Type"
                                               @bind-Value="CurrenExamAnswer.ExamAnswerType" />
                                    <div class="col-sm-12 text-danger">

                                        <ValidationMessage For="() => CurrenExamAnswer.ExamAnswerType" />

                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="modal-footer">
                            <button type="submit" class="btn btn-block btn-success" data-bs-dismiss="modal">Save</button>
                        </div>
                    </EditForm>
                </div>

            </div>
        </div>
    </div>

    //Delete ExamAnswer
    <div class="modal fade" id="Delete" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Delete ExamAnswer</h3>
                </div>
                <div class="modal-body">
                    <h4>Do you want to delete this ExamAnswer ??</h4>
                    <table class="table">
                        @*<tr>
                            <td>ExamAnswer ID</td>
                            <td>@CurrenExamAnswer.Id</td>
                        </tr>*@
                        <tr>
                            <td>Exam Answer Type</td>
                            <td>@CurrenExamAnswer.ExamAnswerType</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" @onclick="@(async () => await HandleValidDeleteExamAnswer(CurrenExamAnswer.Id))" data-bs-dismiss="modal">YES</button>
                    <button class="btn btn-warning" @onclick="@closeModal" data-bs-dismiss="modal">NO</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <p>Please Waiting</p>
}
