@page "/"
@*@inject IJSRuntime JsRuntime;*@

<h1 class="text-center text-info">Hello, world!</h1>
<AuthorizeView >
    <Authorized >
        
        <!--<AuthorizeView Roles="Student">-->
            @*<h1>Hello An Authorized User @context.User.Identity.Name</h1>
            <h1>Hello An Authorized UserId @UserId</h1>
            <p>Welcome to Blazor Learner.</p>
            <SurveyPrompt Title="How is Blazor working for you?" />*@
            <!--<h2>Wellcom Student </h2>
        </AuthorizeView>
        <AuthorizeView Roles="Parent">-->
            @*<h1>Hello An Authorized User @context.User.Identity.Name</h1>
            <h1>Hello An Authorized UserId @UserId</h1>
            <p>Welcome to Blazor Learner.</p>
            <SurveyPrompt Title="How is Blazor working for you?" />*@
            <!--<h2>Wellcom Parent </h2>
        </AuthorizeView>
        <AuthorizeView Roles="Teacher">-->
            @*<h1>Hello An Authorized User @context.User.Identity.Name</h1>
            <h1>Hello An Authorized UserId @UserId</h1>
            <p>Welcome to Blazor Learner.</p>
            <SurveyPrompt Title="How is Blazor working for you?" />*@
            <!--<h2>Wellcom Teacher </h2>
        </AuthorizeView>
        <AuthorizeView Roles="StudentAffaris">-->
    @*<h1>Hello An Authorized User @context.User.Identity.Name</h1>
        <h1>Hello An Authorized UserId @UserId</h1>
        <p>Welcome to Blazor Learner.</p>
        <SurveyPrompt Title="How is Blazor working for you?" />*@
            <!--<h2>Wellcom StudentAffaris </h2>
        </AuthorizeView>-->
    </Authorized>
    <NotAuthorized>
        <h1 class="text-info text-center">Bad Not authorizing User !!!!!!!!!!!!!!!!!!!!!</h1>
    </NotAuthorized>
</AuthorizeView>
@*<select @onchange="selectedDashboardChange">
    <option>Departments</option>
    <option>Campaigns</option>
    <option>Manufacturing</option>
    <option>Marketing</option>
    <option>Sales</option>
</select>

<div id="revealView" class="m-auto" style="width:100%; height:750px"></div>



@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //await JsRuntime.InvokeVoidAsync("loadRevealView", "revealView", "Campaigns");
            await JsRuntime.InvokeVoidAsync("loadRevealView", "revealView", "Departments/GetAll");
        }
    }

    async void selectedDashboardChange(ChangeEventArgs e)
    {
        await JsRuntime.InvokeVoidAsync("loadRevealView", "revealView", e.Value!.ToString());
    }
}*@